server:
  port: 8080
  servlet:
    context-path: /chat-application
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/Chat_Application"
#    url: "jdbc:mysql://192.168.111.165:3306/chat_application"
    username: "root"
    password: "root"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: 
    password: 
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
jwt:
  signerKey: d4d6a9e89bba42e5af07c40b8d9c934c9d6cbfb78e50a59b5e6a7f0edc6728df
